<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<meta property="og:title" content=""/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <link href="css/style.css" rel="stylesheet">
<link href="css/common.css" rel="stylesheet"> -->
<link rel="shortcut icon" href="">

<!--[if lt IE 9]>
<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>

<div id="app" class="container">
	<h1>Task list</h1>

	<table class="table">
		<tr v-for="(task, index) in tasks">
			<td>
				<p v-if="!task.editable">{{ task.text }}</p>
				<input class="form-control" v-if="task.editable" v-model="task.text" v-on:keyup.enter="editTask(index, task.text)">
			</td>
			<td>
				<button type="button" class="btn btn-default" v-on:click="makeTaskEditable(index)">edit</button>
			</td>
			<td>
				<button type="button" class="btn btn-danger" v-on:click="deleteTask(index)">delete</button>
			</td>
		</tr>
	</table>

	<h2>Add new task</h2>
	<div class="form-group">
		<form v-on:submit.prevent="addTask">
			<input class="form-control" v-model="newTaskName" type="text">
			<button type="submit" class="btn btn-primary" style="margin-top:10px">Add new task</button>
		</form>
	</div>
</div>

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="js/main.js"></script>

</body>
</html>
